<!--component html goes here -->
<div>
  <img width="33%" height="auto" src="./../assets/angular4.png" />
  <img width="33%" height="auto" style="vertical-align: top; margin-top: 160px;" src="./../assets/springboot.png" />
  <img width="33%" height="auto" src="./../assets/websockets.png" />
</div>
<div>
    <div style="text-align: center">
        <button routerLink="/admin" routerLinkActive="active" class="btn btn-primary btn-lg rounded-0">Admin</button>
        <button routerLink="/user" routerLinkActive="active" class="btn btn-warning btn-lg rounded-0">User</button>
      </div>
</div>
